@media only screen and (max-width: 770px) {
  header {
    height: 70px;
  }

  .menu-items {
    margin: 24px 10px 0px 0px;
  }
  
  .menu-items li {
    display: none;
  }

  .menu-items li[data-scroll=""] {
    display: inline-block;
  }

  .logo {
    height: 55px;
  }

  .overlay {
    margin-top: 73px;
  }

  .sponsors-container {
    padding: 20px 0 0 0;
  }

  .sponsors-container img {
    max-width: 250px;
    margin-bottom: 50px;
  }

  .sponsors-container img:nth-of-type(1) {
    order: 3;
  }

  .sponsors-container img:nth-of-type(2) {
    order: 1;
  }

  .sponsors-container img:nth-of-type(3) {
    order: 2;
  }

  .sponsors-container img:nth-of-type(4) {
    order: 4;
  }
}

@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }

  footer .copyright p {
    text-align: center;
    padding: 0;
  }

  footer .social {
    width: 100%;
  }
}