@font-face {
  font-family: Avenir;
  src: url("./fonts/AvenirLTStd-Roman.9c62dd0a.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
  background-color: rgb(226, 226, 226);
}

/* MENU/HEADER */

header {
  background: url(./img/Header\ Background\ bw.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90px;
  width: 100%;
  border-bottom: 3px solid rgb(180, 180, 180);
  position: fixed;
  top: 0;
}

.logo {
  margin-left: 20px;
  margin-top: 8px;
  height: 75px;
  float: left;
}

.menu-items {
  display: flex;
  float: right;
  margin: 33px 10px 0px 0px;
}

.menu-items li {
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
  color: white;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s linear;
}

.menu-items li:hover {
  cursor: pointer;
}

.menu-items li:nth-of-type(1):hover {
  border-bottom: 3px solid white;
}

.menu-items li:nth-of-type(2):hover {
  border-bottom: 3px solid  #6ed15c;
}

.menu-items li:nth-of-type(3):hover {
  border-bottom: 3px solid #ffd94f;
}

.menu-items li:nth-of-type(4):hover {
  border-bottom: 3px solid #f85050;
}

.menu-items li:nth-of-type(5):hover {
  border-bottom: 3px solid #1aaeef;
}

.sign-up {
  background-color: transparent;
  padding: 6px 12px;
  border: 3px solid #0db854;
  border-radius: 5px 10px;
  margin-top: -12px;
  margin-left: 10px;
  font-size: 20px;
  color: white;
  transition: background-color .3s linear;
  outline: none;
  text-decoration: none;
}

.sign-up:hover {
  background-color: #0db854;
  cursor: pointer;
}

.main {
  width: 100%;
  /* background-color: #636363; */
}

/* FEATURE SECTION */

.feature {
  height: 100%;
  width: 100%;
  background: url('./img/nm-building.jpg') no-repeat center center;
}

.feature-img {
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding-top: 30px;
  display: block;
}

.feature .sign-up {
  padding: 8px 0px;
  margin: auto;
  display: block;
  background-color: #0db854;
  color: white;
  font-size: 25px;
  width: 120px;
  text-align: center;
}

.feature .sign-up:hover {
  background-color: white;
  color: #0db854;
}

.overlay {
  background-color: rgba(71, 71, 71, 0.548);
  margin-top: 93px;
  padding-bottom: 30px;
  height: 100%;
}

.date-time {
  text-align: center;
  font-size: 32px;
  color: white;
  margin: 5px 0px 20px;
}

/* DETAILS SECTION */
.details {
  background-color: #eaeaea;
}

.details-header {
  font-size: 40px;
  text-align: center;
  padding: 15px 0;
  color: rgb(77, 77, 77);
  background-color: white;
  margin: 0;
}

.details-main {
  display: flex;
  width: calc(100% - 20px);
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.details-card {
  width: 28%;
  min-width: 300px;
  margin: 20px;
  box-shadow: 0px 0px 15px 3px #52525263;
}

.details-card:nth-of-type(1) {
  background-color: #6ed15c;
}

.details-card:nth-of-type(2) {
  background-color: #1aaeef;
}

.details-card:nth-of-type(3) {
  background-color: #f85050;
}

.details-card h3 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 10px;
}

.details-card img {
  width: 20%;
  padding: 10px 40%;
  background-color: white;
}

.details-card p {
  font-size: 16px;
  text-align: center;
  color: white;
  margin: 10px;
}

.details-card:last-of-type p {
  font-size: 20px;
}

.details-ccl-video {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(214, 214, 214);
}

.details-ccl-video .description {
  max-width: 500px;
  margin-right: 20px;
}

.details-ccl-video .description h2 {
  margin-top: 0;
}

/* ABOUT SECTION */
.about {
  height: 100%;
  width: 100%;
  background: url('./img/cream-city-labs.jpg') no-repeat center center;
  background-size: cover;
}

.about .overlay {
  margin: 0;
  padding: 20px 30px;
  background-color: rgba(31, 31, 31, 0.74)
}

.about-header {
  margin: 0;
  font-size: 40px;
  color: white;
}

.about .overlay .definitions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about .definition {
  max-width: 300px;
}

.about .definition h3 {
  font-size: 30px;
  margin-bottom: 0;
}

.about .definition:nth-of-type(1) h3 {
  color: #ffd94f;
}

.about .definition:nth-of-type(2) h3 {
  color: #6ed15c;
}

.about .definition:nth-of-type(3) h3 {
  color: #1aaeef;
}

.about .definition:nth-of-type(4) h3 {
  color: #f85050;
}

.about .definition h4 {
  font-size: 20px;
  color: rgb(194, 194, 194);
  margin: 3px 0;
}

.about .definition p {
  font-size: 18px;
  color: white;
}

/* FAQ SECTION */
.faq {
  background: url('./img/faq-background.png') no-repeat center center;
  background-size: cover;
}

.faq-container {
  max-width: 700px;
  padding: 20px;
  margin: auto;
  background-color: rgb(240, 240, 240);
}

.faq-header {
  font-size: 40px;
  margin: 10px 0;
  color: #1aaeef;
}

.faq .q-and-a {
  margin-bottom: 30px;
}

.faq .q-and-a:last-of-type {
  margin-bottom: 0;
}

.faq .q-and-a h3 {
  color: #2b2b2b;
  margin-bottom: 2px;
}

.faq .q-and-a p {
  color: grey;
  margin: 0;
}

/* SPONSORS SECTION */
.sponsors {
  width: 100%;
  background-color: #999;
}

.sponsors h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin:0;
  padding: 15px;
}

.sponsors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 20px 50px;
}

.sponsors-container img {
  max-width: 300px;
  align-self: center;
}

/* FOOTER SECTION */
footer {
  width: 100%;
  display: inline-block;
  margin: 0;
  height: 70px;
  background-color: #999;
  border-top: 2px solid rgb(140, 140, 140);
}

footer .copyright {
  width: 50%;
  float: left;
}

footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
}

footer .social {
  width: 50%;
  float: right;
}

footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1em;
  width: 20%;
  transition: color 0.2s linear, background-color 0.2s linear;
}

footer .social a:hover {
  background-color: white;
}

.main-site {
  background-color: #6ed15c;
}

.main-site:hover {
  color: #6ed15c;
}

.engage {
  background-color: #ffd94f;
}

.engage:hover {
  color: #ffd94f
}

.meetup {
  background-color: #f85050;
}

.meetup:hover {
  color: #f85050;
}

footer .social a.email {
  background-color: #1aaeef;
  width: 40%;
}

footer .social a.email:hover {
  background-color: white;
  color: #1aaeef;
}

@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }

  footer .copyright p {
    text-align: center;
    padding: 0;
  }

  footer .social {
    width: 100%;
  }
}